.wrapper {
  max-width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  //SASS mixin that sets margin left & right to auto
  @include autoMargin;

  //SASS mixins for standard breakpoints

  @include sm {
    max-width: 54rem;
  }

  @include md {
    max-width: 72rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include lg {
    max-width: 96rem;
  }

  @include xl {
    max-width: 114rem;
  }

  @include xxl {
    max-width: 132rem;
  }

  &--lg {
    @include lg {
      max-width: 96rem;
    }

    @include xl {
      max-width: 160rem;
    }
  }
}
