//standard button styles
// '--' represent different variations
// e.g '--white' set the background colour and outline to white
.btn {
  padding: 2rem 6rem;
  border-radius: 5rem;
  position: relative;
  transition: color 0.2s;
  &:link,
  &:visited {
    color: $c_white;
    text-decoration: none;
  }

  &:hover {
    background: rgba($c_pink, 0.9);
    &::before {
      padding: 0;
      border-color: transparent;
      transition: padding 0.3s, border-color 0.3s;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;

    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 5rem;
    padding: 0.4rem;
    transition: padding 0.3s, border-color 0.3s;
  }

  &--pink {
    background-color: $c_pink;
    &::before {
      border: solid 1.5px $c_pink;
    }
  }

  // use this class when the button needs to contain an arrow sign
  &--has-arrow {
    &::after {
      content: '\279D';
      position: absolute;
      right: 2.5rem;
      transition: right 0.2s;
    }

    &:hover {
      &::after {
        right: 3rem;
        transition: right 0.2s;
      }
    }
  }

  // use this class when the buttons doesn't need an outline
  &--has-no-border {
    &::before {
      display: none;
    }
  }

  &--light {
    background-color: rgba($c_white, 0.2);
    &::before {
      border: solid 1.5px rgba($c_white, 0.2);
    }
    &:hover {
      background-color: rgba($c_white, 0.3);
    }
  }

  &--white {
    background-color: $c_white;
    &:link,
    &:visited {
      color: $c_blue;
      text-decoration: none;
    }
    &::before {
      border: solid 1.5px $c_white;
    }
    &:hover {
      background-color: $c_blue;
      color: $c_white;
    }
  }
}
