.popup {
  &__container {
    max-height: 480px;
    overflow: hidden;
    position: relative;
    z-index: 19;
    padding-bottom: 56.25%;
    height: 0;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}
