.popup {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 99;
  top: 45%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  &--visible {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition: all 0.5s;
  }
  &__container {
    max-height: 48rem;
    // overflow: hidden;
    position: relative;
    z-index: 19;
    padding-bottom: 56.25%;
    height: 0;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__close {
    position: absolute;
    right: 0;
    top: -8rem;
    border: 0;
    background: transparent;
    font-size: 6rem;
    background: $c_pink;
    height: 6rem;
    width: 6rem;
    color: $c_white;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    &:focus {
      outline: transparent;
    }

    &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: solid 1px $c_pink;
      padding: 0.5rem;
    }
  }
}
