.popup {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: 99;
  top: 30%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: visibility 0.3s, top 0.3s;
  &--visible {
    visibility: visible;
    top: 50%;
  }
  &__container {
    max-height: 480px;
    overflow: hidden;
    position: relative;
    z-index: 19;
    padding-bottom: 56.25%;
    height: 0;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 90;
    background: rgba($c_purple, 0.7);
    display: none;
    &--visible {
      display: block;
    }
  }
}
