.hiw {
  overflow: hidden;
  &__title {
    span {
      display: block;
    }
  }

  &__section {
    margin-bottom: 10rem;
  }

  &__section-title {
    position: relative;
    font-weight: 500;
    font-size: 2.6rem;
    color: $c_navy;
    font-family: $title-font;

    span {
      position: absolute;
      left: 0;
      font-size: 5rem;
      top: -2.4rem;
      letter-spacing: 3px;
      z-index: -1;
      color: $c_blue;
      opacity: 0.2;
    }
  }

  &__subtitle {
    margin-bottom: 2.5rem;
  }

  &__header {
    padding-bottom: 10rem;
  }

  &__section-img {
    position: relative;
    margin-bottom: 5rem;
    img {
      max-width: 100%;
    }
  }

  &__steps {
    //targeting the 'two-col' class to change order of columns in this particular block on devices below 992px
    .two-col {
      &:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
        @include lg {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20rem;
          align-items: center;
        }
      }
    }
  }
}

@include sm {
  .hiw {
    &__section-img {
      img {
        max-width: 37rem;
      }
    }
  }
}

@include lg {
  .hiw {
    overflow: visible;
    @include autoMargin;

    &__section {
      margin-bottom: 7rem;
    }

    &__subtitle {
      margin-bottom: 5rem;
    }

    &__section-img {
      margin-bottom: 5rem;
    }
  }
}
