//SASS variables for colours. All 'colour' variables have the 'c_' prefix.
$c_grey: #5b6388;
$c_blue: #3b8df9;
$c_blue-light: #d8e8ff;
$c_blue-dark: #27107e;
$c_blue-darker: #200e70;
$c_purple: #7f3fd1;
$c_white: #ffffff;
$c_navy: #2a4789;
$c_pink: #f93b83;
